.pages-container {
    margin: 0 auto;
    padding: 20px;
}

.pages-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.page-item {
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: inset -5px -5px 10px #cbced1, inset 5px 5px 10px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 600px;
}

.page-item h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.articles-preview {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: -5px -5px 10px #cbced1, 5px 5px 10px #ffffff;
    padding: 20px;
    margin-top: 10px;
}

.articles-preview h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.articles-preview ul {
    list-style-type: none;
    padding: 0;
}

.articles-preview li {
    margin-bottom: 15px;
}

.articles-preview p {
    margin: 0;
    font-size: 16px;
}

.articles-preview div {
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.articles-preview div p {
    margin: 5px 0;
}

.articles-preview div:last-child {
    margin-bottom: 0;
}
